@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}
.title {
    font-size: 45px;
    margin-bottom: 50px;
}
.progress-ring__circle{
    transform-origin: center;
    transform: rotate(-90deg);
    transition: all .1s;
}
